setuptools>=65.0.0
wheel>=0.40.0
numpy==1.24.4
streamlit==1.33.0
chromadb==0.4.24
langchain==0.1.14
sentence-transformers==2.6.1
openai-whisper==20230918
scikit-learn==1.4.2
pandas==2.2.2
gTTS==2.3.2
python-dotenv==1.0.1
google-generativeai==0.3.2
streamlit-mic-recorder==0.0.5
torch>=2.1.0
ffmpeg-python==0.2.0
